{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    <div class="container mt-3">
        {% include 'breadcrumb.html.twig' with { breadcrumbs: [project, 'Équipe'] } %}

        <div class="row">
            <div class="col">
                {{ component('TeamList', {
                    'project': project
                }) }}
            </div>
        </div>
    </div>
{% endblock %}