{% extends 'base.html.twig' %}

{% block title %}Issue navigator{% endblock %}

{% set selectedIssue = app.user.selectedProject.issues.first %}

{% block body %}
    <div class="container mt-5">
        {{ component('IssueNavigator', {
            issues: issues,
            people: people,
            selectedIssue: selectedIssue,
            statuses: statuses,
            types: types
        }) }}
    </div>
{% endblock %}