{% extends 'base.html.twig' %}

{% block title %}Issue navigator{% endblock %}

{% set selectedProject = app.user.selectedProject %}

{% block body %}
    <div class="container mt-3">

        {% include 'breadcrumb.html.twig' with { breadcrumbs: ['Issues'] } %}

        {% if selectedProject.issues|length == 0 %}
            <div class="row">
                <div class="col">
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold">You currently have no issues</h5>
                        <p>Let's create your first issue in TaskSphere</p>
                        <button class="btn btn-primary">Create issue</button>
                    </div>
                </div>
            </div>
        {% else %}
            {{ component('IssueNavigator', {
                issues: issues,
                people: people,
                selectedIssue: selectedProject.issues.first,
                statuses: statuses,
                types: types,
                id: 'issueNavigator'
            }) }}
        {% endif %}
    </div>
{% endblock %}