{% extends 'base.html.twig' %}

{% block title %}Loading{% endblock %}

{% block body %}
    <div {{ react_component('issue/Issue', { issueId: issueId, issueStatuses: issueStatuses, issueTypes: issueTypes }) }}></div>
{% endblock %}
