{% extends 'base.html.twig' %}

{% block title %}[{{ issue.id }}] {{ issue.summary }}{% endblock %}

{% block body %}
    <div {{ react_component('issue/Issue', { issueId: issue.id, issueStatuses: issueStatuses, issueTypes: issueTypes }) }}></div>
{% endblock %}
