{% extends 'base.html.twig' %}

{% block title %}Issue navigator{% endblock %}

{% set selectedIssue = app.user.selectedProject  ? app.user.selectedProject.issues.first : null %}

{% block body %}
    {% if selectedIssue is not null %}
        <div class="container mt-5">
            {{ component('IssueNavigator', {
                issues: issues,
                people: people,
                selectedIssue: selectedIssue,
                statuses: statuses,
                types: types
            }) }}
        </div>
    {% endif %}
{% endblock %}