{% extends 'base.html.twig' %}

{% block title %}Issue navigator{% endblock %}

{% set selectedProject = app.user.selectedProject %}

{% block body %}
    <div class="container mt-3">

        {% if selectedProject.issues|length == 0 %}
            <div class="row">
                <div class="col">
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold">Vous n'avez actuellement aucun ticket</h5>
                        <p>Créez votre premier ticket dans TaskSphere</p>
                        <button class="btn btn-primary"
                                data-bs-target="#modalCreateIssue"
                                data-bs-toggle="modal"
                                hx-get="{{ path('issue_create') }}"
                                hx-target="#modalCreateIssue"
                        >
                            Créer un ticket
                        </button>
                    </div>
                </div>
            </div>
        {% else %}
            {{ component('IssueNavigator', {
                issues: issues,
                people: people,
                selectedIssue: selectedProject.issues.first,
                statuses: statuses,
                types: types,
                id: 'issueNavigator'
            }) }}
        {% endif %}
    </div>
{% endblock %}