{% extends 'base.html.twig' %}

{% block title %}[{{ issue.id }}] {{ issue.summary }}{% endblock %}

{% block body %}
    <div {{ react_component('Issue', { serializedIssue: issue|serialize('json', { 'groups': 'issue:read' }), issueStatuses: issueStatuses, issueTypes: issueTypes }) }}></div>
{% endblock %}
