{% extends 'base.html.twig' %}

{% block title %}Issue navigator{% endblock %}

{% set issue = app.user.selectedProject.issues.first %}

{% block body %}
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-3 col-sm-12 mb-sm-3 mt-sm-0">
                {{ component('Backlog', {
                    issues: issues
                }) }}
            </div>

            <div class="col-md-6 col-sm-12">
                {{ component('Issue', {
                    attachments: issue.attachments.toArray,
                    issue: issue
                }) }}
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {{ component('SelectIssueType', {
                            issue: issue,
                            types: types,
                            type: issue.type
                        }) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}