{% extends 'base.html.twig' %}

{% block title %}Issue navigator{% endblock %}

{% block body %}
    <div {{ react_component('issue/Issues', { issues: issues|serialize('json', { 'groups': 'issue:list' }), issueStatuses: issueStatuses, issueTypes: issueTypes }) }}></div>
{% endblock %}