{% extends 'base.html.twig' %}

{% block title %}Issue not found{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="bg-light card-body">
                <p class="card-text fw-bold text-center">Issue not found</p>
            </div>
        </div>
    </div>
{% endblock %}