{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 max-w-screen-xl min-h-screen">
        <h1>Test</h1>
    </div>
{% endblock %}
