{% extends 'base.html.twig' %}

{% block title %}Your work{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                {% include 'breadcrumb.html.twig' with { breadcrumbs: ['Your work'] } %}
            </div>
        </div>
    </div>
{% endblock %}
