<div class="modal fade" id="modalCreateProject" tabindex="-1" {{ stimulus_controller('modal-create-project') }}>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un projet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ component('ProjectForm') }}
        </div>
    </div>
</div>