@import 'bootstrap/scss/bootstrap';

.card-title {
    line-height: 1.5 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.content-editable:hover {
    @extend .bg-light, .cursor-pointer;
}

label .required:after {
    content: '*';
    color: red;
}