a {
    text-decoration: none;
}

.button-delete-attachment  {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

.card-attachment:hover > .button-delete-attachment {
    display: block;
}

.card-title {
    line-height: 1.5 !important;
}

.cursor-pointer {
    cursor: pointer;
}

label.required:after {
    content: '*';
    color: red;
}

.issue-description > .card-text:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.issue-image:hover {
    opacity: 0.5;
}