<div {{ attributes }}>
    <input 
        class="form-control"
        data-action="live#action"
        data-action-name="updateStoryPointEstimate"
        data-model="issue.storyPointEstimate"
        min="0" 
        required
        type="number" 
    >
</div>