{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="container mt-3">

        {% include 'breadcrumb.html.twig' with { breadcrumbs: ['Projects'] } %}

        <div class="row">
            <div class="col">
                {{ component('ProjectList', {
                    projects: projects
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
