{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div {{ react_component('project/Projects', { projects: projects|serialize('json', { 'groups': 'project:list' }) }) }}></div>
{% endblock %}
