{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="col">
            <div class="row">
                {{ component('ProjectList', {
                    projects: projects
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
