{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} Board{% endblock %}

{% block body %}
    <div class="container mt-5">
        {{ component('ProjectBoard') }}
    </div>
{% endblock %}