{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container mt-3">
        {% include 'breadcrumb.html.twig' with { breadcrumbs: ['Profile'] } %}

        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                {{ component('ProfileForm') }}
            </div>
        </div>
    </div>
{% endblock %}