{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container mt-3">
        {% include 'breadcrumb.html.twig' with { breadcrumbs: ['Profile'] } %}

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}